/*
Global font utility classes:
.font-helvetica { font-family: Helvetica, Arial, sans-serif; }
.font-courier { font-family: 'Courier New', Courier, monospace; }
*/

@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

.font-helvetica {
  font-family: Helvetica, Arial, sans-serif;
}
.font-courier {
  font-family: 'Courier New', Courier, monospace;
}
